<h3 class="text-center text-primary">Import Excel</h3>

<form>
    <div class="form-group row">
        <label for="inputGroupFile01" class="col-sm-2 col-form-label">Select Excel File</label>
        <div class="col-sm-10">
            <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
    </div>
</form>
<table class="sjs-table">
  <tbody>
    <tr *ngFor="let row of data">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
  </tbody>
</table>
<!-- <h3>Imported data</h3>
<table *ngIf="message==null">
    <tr>
        <th>id</th>
        <th>employee_name</th>
        <th>employee_salary</th>
        <th>employee_age</th>
    </tr>
    <tr *ngFor="let emp of emps">
        <td>{{emp.id}}</td>
        <td>{{emp.employee_name}}</td>
        <td>{{emp.employee_salary}}</td>
        <td>{{emp.employee_age}}</td>
    </tr>
</table>

<p *ngIf="message!=null">{{message}}</p> -->